body{
        background-color: #8c4b4b;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Marck Script', cursive;
}
.form {
        font-family: 'Marck Script', cursive;
        width: 300px;
        padding: 32px;
        border-bottom: 2px dotted grey;
}

.from_title {
        font-size: 24px;
font-family: 'Marck Script', cursive;
        text-align: center;
        margin: 0 0 32px 0;
}

.form_group{
        width: 100%;
        position: relative;
        margin-bottom: 1px;
}

.form_input{
font-family: 'Marck Script', cursive;
        width: 100%;
        padding: 0 0 10px 0;
        border: none;
        border-bottom: 1px solid gray;
        background-color: transparent;
        outline: none;
        font-size: 18px;
}
.out{
        font-size: 15px;
        font-family: 'Marck Script', cursive;
        margin-top: 10px;
        padding-top: 8px;
  background-color: #b46666;
  text-align: center;
  width: 100%;
  height: 30px;
  border-radius:10px;
  border: 1px solid #f8f1c5;
  transition: .3s border-color;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

a {
        font-family: 'Marck Script', cursive;
        margin-top: 20px;
        margin-left: 25%;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;

  border-radius: 10px;
  box-shadow: 0 0 40px 40px #f8dba1 inset, 0 0 0 0 #f8dba1;

  font-weight: bold;
  letter-spacing: 2px;
  color: #8c4b4b;
  transition: .15s ease-in-out;
}
a:hover {
  box-shadow: 0 0 10px 0 #f8dba1 inset, 0 0 10px 4px #f8dba1;
  color: #f8dba1;
}

.out:hover{
        border: 1px solid #c5c0a1;
}

input{
        font-size: 20px;
        font-family: 'Marck Script', cursive;
        background-color: #b46666;
}

.type-1 {
  text-align: center;
  width: 100%;
  height: 35px;
  border-radius:10px;
  border: 1px solid #f8f1c5;
  transition: .3s border-color;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.type-1:hover {
  border: 1px solid #c5c0a1;
}


.form_button{
font-family: 'Marck Script', cursive;
        margin-top:35px ;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        background: #ddde97;
        font-size: 24px;
        border:2px solid #b1b372;
}

.form_button:hover{
        font-family: 'Marck Script', cursive;
        background: #b1b372;
        border: 2px solid #979963;
}

.text3d-wrap-2 {
    height: 110px;
    overflow: hidden;
}
.text3d-2 {
    margin: 0;
    padding: 0;
    position: relative;

    width: 100%;
    height: 10%;
    perspective: 2000px;
    transform-style: preserve-3d;
}
.text3d-layer-2 {
    width: 100%;
    height: 10%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(20deg) rotateX(35deg) translateZ(0);
    animation: text3d-anim-2 2s infinite alternate linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.text3d-layer-2:after {
        font-family: 'Marck Script', cursive;
    font-size: 100px;
    content: 'Градусник';
    letter-spacing: 2px;
    text-align: center;
    height: 10%;
    width: 100%;
    position: absolute;

    color: #f8f1c5;
    text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}
.text3d-layer-2:nth-child(1):after {
    transform: translateZ(0px);
}
.text3d-layer-2:nth-child(2):after {
    transform: translateZ(-1.5px);
}
.text3d-layer-2:nth-child(3):after {
    transform: translateZ(-3px);
}
.text3d-layer-2:nth-child(4):after {
    transform: translateZ(-4.5px);
}
.text3d-layer-2:nth-child(5):after {
    transform: translateZ(-6px);
}
.text3d-layer-2:nth-child(6):after {
    transform: translateZ(-7.5px);
}
.text3d-layer-2:nth-child(7):after {
    transform: translateZ(-9px);
}
.text3d-layer-2:nth-child(8):after {
    transform: translateZ(-10.5px);
}
.text3d-layer-2:nth-child(9):after {
    transform: translateZ(-12px);
}
.text3d-layer-2:nth-child(10):after {
    transform: translateZ(-13.5px);
}
.text3d-layer-2:nth-child(11):after {
    transform: translateZ(-15px);
}
.text3d-layer-2:nth-child(12):after {
    transform: translateZ(-16.5px);
}
.text3d-layer-2:nth-child(13):after {
    transform: translateZ(-18px);
}
.text3d-layer-2:nth-child(14):after {
    transform: translateZ(-19.5px);
}
.text3d-layer-2:nth-child(15):after {
    transform: translateZ(-21px);
}
.text3d-layer-2:nth-child(16):after {
    transform: translateZ(-22.5px);
}
.text3d-layer-2:nth-child(17):after {
    transform: translateZ(-24px);
}
.text3d-layer-2:nth-child(18):after {
    transform: translateZ(-25.5px);
}
.text3d-layer-2:nth-child(19):after {
    transform: translateZ(-27px);
}
.text3d-layer-2:nth-child(20):after {
    transform: translateZ(-28.5px);
}
.text3d-layer-2:nth-child(n+10):after {
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}
.text3d-layer-2:nth-child(n+11):after {
    -webkit-text-stroke: 10px #b94141;
    text-shadow: 6px 0 6px #ca6262, 5px 5px 5px #713a3a, 0 6px 6px #a22e2e;
}
.text3d-layer-2:nth-child(n+12):after {
    -webkit-text-stroke: 10px #8d3232;
}
.text3d-layer-2:last-child:after {
    -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}
.text3d-layer-2:first-child:after {
    color: #f8f1c5;
    text-shadow: none;
}
.text3d-wrap-2:hover .text3d-layer-2 {
    animation-play-state: running;
}
@media (max-width:767px) {
    .text3d-2 .text3d-layer-2:after{
        font-size: 60px;
    }
}
@keyframes text3d-anim-2 {
    0 {
        transform: rotateY(20deg) rotateX(35deg) translateZ(0);
    }
    50% {
        transform: rotateY(0) rotateX(-20deg) translateZ(0);
    }
    100% {
        transform: rotateY(-20deg) rotateX(35deg) translateZ(0);
    }
}

